div{
    background: black;
    color: white;
}

#paa{
    font-size: larger;
}

#cc{
    background: brown;
}

img{
    float: right;
}

#pic{
    float: right;
}

ol{
    width: 10px;
    padding: 5px;
    margin: 10px auto;
}